img {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #e5ba73;
}

.mainh1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 129px;
}

.ovenh1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 67px;
}

.bakedh1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 18px;
}

.mapleh1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 142px;
}

hr {
  background-color: #c58940;
  height: 2px;
  border: none;
}

a:active {
  color: black;
}

a:hover {
  color: black;
}

a:visited {
  color: black;
}
